<head>
	<title>URL Shortener</title>
	<meta author='bbkolton' />
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
	<script   src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>
</head>

<body>
	<div class='container'>
		<h1>Welcome to the URL Shortener!</h1>
		<p>Browse our shortened urls or add a new one!</p>
		<table class='table'>
			<thead>
				<tr>
					<th>Title</th>
					<th>Shortened</th>
					<th>Long</th>
					<th>Image</th>
					<th>Archive</th>
					<th>Timestamp</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for url in urls %}
					<tr>
						<td>{{ url.title }}</td>
						<td>{{ url.short }}</td>
						<td>{{ url.long }}</td>
						<td><a href='/lab/static/{{ url.long|slice:"12:" }}.png'>Image</a></td>
						<td>{{ url.wayback}}</td>
						<td>{{ url.timestamp}}</td>
						<td><form action='deleteurl/{{url.id}}' method='GET'>
							<button>Delete</button>
						</form></td>
					</tr>
				{% endfor %}
			</tbody>
		</table>



		<p>Use this form to add a new url</p>
		<form action="/lab/listall/" method='POST'>
			{% csrf_token %}
			<label>Url
				<input type='text' name='short' />
			<input type='submit' value='Submit' />
			</label>
		</form>

		<form action="/lab/logout/" method="GET">
			<p>Done for now? <button type="submit">Logout</button></p>
		</form>
	</div>
</body>