<head>
	<title>URL Shortener</title>
	<meta author='bbkolton' />
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
	<script   src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>
</head>

<body>
	<div class='container'>
		<h1>Welcome to the URL Shortener!</h1>
		<p>Browse our shortened urls or add a new one!</p>
		<table class='table'>
			<thead>
				<tr>
					<th>Title</th>
					<th>Shortened</th>
					<th>Long</th>
					<th>Archive</th>
					<th>Timestamp</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for url in urls %}
					<tr>
						<td>{{ url.title }}</td>
						<td>{{ url.short }}</td>
						<td>{{ url.long }}</td>
						<td>{{ url.wayback}}</td>
						<td>{{ url.timestamp}}</td>
						<td><form action='deleteurl/{{url.id}}' method='GET'>
							<button>Delete</button>
						</form></td>
					</tr>
				{% endfor %}
			</tbody>
		</table>


		<p>Please login to add or delete URLS</p>
		<form action='/lab/login/' method='POST'>
			{% csrf_token %}
			<input type='username' name="username" placeholder="username" />
			<input type='password' name="password" placeholder="password" />
			<input type="submit" value="Submit" />
		</form>
	</div>
</body>